body{
    background-color: #fff;
}

.titleBar{
     background-color: #000;
     color: #fff;
     padding: 10px;
     margin-top: 8px;
}

.article{
    border-bottom: #cacaca 1px solid;
}


.article a:link {
    color: darkgrey;
}

.loader{
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    color: #fff;
}