body{
    background-color: #fff;
}

h1{
    display: inline-block;
}
.source-selector{
    margin-left: 20px;
    display: inline-block;
}

.article img{
    width: 400px;
    height: 200px;
}

.loader{
    background-image: url('./images/loading.gif');
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}